@keyframes ripple {  
    from {  
      transform: scale(1);  
    }  
    to {  
      transform: scale(1.02);  
    }  
  } 
  body {  
    margin: 0;  
    padding: 00;  
    width: 100%;  
    height: 100%;  
    display: table;  
    background-color: #180d80;  
  }  
  
  h1::before {    
     z-index: 2;  
     position: absolute;  
     width: 100%;  
     height: 100%;  
     top: 10;  
     left: 0;  
      background: repeating-linear-gradient(-45deg, black, transparent 5px);  
     -webkit-background-clip: text;  
     -webkit-text-stroke: 12px lightgreen;  
  }  
  h2 {  
     font-family: arial;  
     font-weight: 20;  
     font-size: 2em;  
     text-align: center;  
     background: repeating-linear-gradient(40deg, white, red 5px);  
     position: relative;  
     -webkit-background-clip: text;  
     -webkit-text-stroke: 2px white;  
     color: transparent;  
     bottom: 10px;  
    color: white;  
     animation: float 2s ease-in-out infinite; }  
  h2::before {     
     z-index: 2;  
     position: absolute;  
     width: 100%;  
     height: 100%;  
     top: 0;  
     left: 0;  
      background: repeating-linear-gradient(-45deg, black, transparent 5px);  
     -webkit-background-clip: text;  
     -webkit-text-stroke: 12px lightgreen;  
  }  
  body {  
    background-color: #333;  
    display: grid;  
    height: 100vh;  
    place-items: center;  
  }  
  .checkbox {  
    display: none;  
  }  
  .checkbox + label {  
    --size: 70%;  
    --radius: 50%;  
    border: 3px solid white;  
    border-radius: var(--radius);  
    cursor: pointer;  
    display: inline-block;  
    height: 33px;  
    width: 33px;  
    position: relative;  
  }  
  .checkbox + label:before {  
    background-color: red;  
    border-radius: var(--radius);  
    bottom: 0;  
    content: ' ';  
    height: var(--size);  
    left: 0;  
    margin: auto;  
    position: absolute;  
    right: 0;  
    top: 0;  
    transition: all .25s cubic-bezier(1, 0, 0, 0.2);  
    width: var(--size);  
  }  
  .checkbox:checked + label {  
    animation: .15s ripple .25s;  
  }  
  .checkbox:checked + label:before {  
    --size: 50%;  
    --radius: 10%;  
    transform: rotateZ(180deg);  
  } 